/*this is all the shapes for the white/gray bunny*/
/*along with the constrants the div is located that houses the bunny*/

.container {/*.container box that serves as the backdrop of the bunny*/
  height: 350px;
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: lightblue;
  background-image:url(grass.png);
  background-position: center;
}
.bunny {/*this is where in the container the bunny is located and constraned to*/
  height: 70px;
  width: 70px;
  border-radius: 90px 90px 130px ;  /*top left, top right, bottom left, bottom right clockwise*/
  position: absolute;
  bottom: 90px;
  right: 100px;

}

/*this is where I put the animations so I can group shapes to the same animation*/
.headmove{
  animation:headtilt 5s infinite ;
}
.bodymove{
  animation: btwitch 10s infinite;
}
.feet{
  animation: feetshift 10s infinite;
}

/*The start of the shapes and labeled as such*/
.bun-head{
  background-color: white;
  height: 65px;
  width: 70px;
  border-radius: 90px 70px 130px 0;  /*top left, top right, bottom left, bottom right clockwise*/
  position: absolute;
  bottom: -55px; /* how high the head is*/
  right: 0px;
  z-index: 0;
  box-shadow: 1px -1px darkgray;
}

.bun-rightear {/*This is the top ear its named right because originally both the ears were on the top of the head*/
  height: 60px;
  width: 15px;
  background-color: darkgray;
  position: absolute;
  bottom: 5px;
  left: 10px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 5;
  box-shadow: -2px -10px gray;
  transform: rotate(30deg);
  animation: twitch 2s infinite;
  
  transform-origin: bottom;
  
}
.bun-leftear {/*This is the bottom ear*/
  height: 60px;
  width: 15px;
  background-color: lightgray;
  position: absolute;
  bottom: -70px;
  left: 10px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; 
  z-index: 5;
  transform: rotate(30deg);
  animation: twitch 6s infinite;
  /*you may ask 'doesn't this already have a animation like in the div headmove? yes it does and I have this so the ears also twitch/move independently from the head*/
  box-shadow: -2px 10px gray;

  transform-origin: top;
  
}

.neck{/*this is the bump that can be seen below the head and above the body shape*/
  background-color: white;
  height: 70px;
  width: 80px;
  border-radius: 50px 90px 99px 90px;  /*top left, top right, bottom left, bottom right clockwise*/
  position: absolute;
  top: 15px; 
  left: -30px;
  z-index: 0;
  box-shadow: -1px 2px lightgray;
}

.bun-tail{
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 0px 90px 99px 90px;  /*top left, top right, bottom left, bottom right clockwise*/
  position: absolute;
  top: 20px; 
  left: -80px;
  z-index: 2;
  transform: rotate(-10deg);
  box-shadow: -1px 2px lightgray;
  animation: twitch 5s infinite;

}
.bun-body {
  background-color: white;
  height: 75px;
  width: 90px;
  border-radius: 90px 0px 70px 80px;  /*top left, top right, bottom left, bottom right clockwise*/
  position: absolute;
  top: 20px; /* how high the butt is*/
  right: 50px;
  z-index: 0;
  box-shadow: -2px 1px darkgray;
}

.bun-blegs{/*bleg meaning back-leg meaning its the hind thigh that is in the foreground*/
  background-color:white;
  position: absolute;
  height: 42px;
  width: 55px;
  border-radius: 70px 60px 70px 80px;  /*top left, top right, bottom left, bottom right clockwise*/
  
  top: 55px;; /* how low the leg is*/
  right: 80px;
  z-index: 2;
  box-shadow: 1px 1px darkgray;
  

}
.bun-bbfoot{  /*bbfoot meaning back-background foot meaning its the hind foot that is not in the foreground */

  background-color:darkgray;
  position: absolute;
  height: 15px;
  width: 30px;
  border-radius: 70px 140px 70px 120px;  /*top left, top right, bottom left, bottom right clockwise*/
  
  top: 90px; /* how low the leg is*/
  right: 80px;
  z-index: -1;
  box-shadow: 1px 0px gray;
}
.bun-bfoot{/*bfoot meaning back-foot meaning its the hind foot that is in the foreground*/
  background-color:white;
  position: absolute;
  height: 17px;
  width: 32px;
  border-radius: 70px 140px 30px 120px;  /*top left, top right, bottom left, bottom right clockwise*/
  transform:rotation(-19deg);
  top: 89px; /* how low the leg is*/
  right: 90px;
  z-index: 4;
  box-shadow: 1px -1px darkgray;

}

.bun-fpaw{/*fpaw meaning front-paw meaning its the front foot that is in the foreground*/
  background-color: white;
  position: absolute;
  height: 15px;
  width: 30px;
  border-radius: 70px 140px 30px 120px;  /*top left, top right, bottom left, bottom right clockwise*/
  
  top: 85px; /* how low the leg is*/
  right: 45px;
  z-index: 1;
  box-shadow: -1px 2px gray;

}
.bun-fbpaw{/*fbpaw meaning front-background-paw meaning its the front foot that is in the background*/
  background-color:darkgray;
  position: absolute;
  height: 15px;
  width: 30px;
  border-radius: 70px 60px 70px 80px;  /*top left, top right, bottom left, bottom right clockwise*/
  
  top: 70px; /* how low the leg is*/
  right: 25px;
  z-index: -1;
  box-shadow: 1px 1px gray;
}

.bun-eye{
  background-color: black;
  position:absolute;
  height: 12px;
  width: 18px;
  border-radius: 0 80px 0px 80px;  /*top left, top right, bottom left, bottom right clockwise*/
  bottom:-20px;
  left:49px;
  transform: rotate(90deg);
  animation: eyeshift 1s infinite;
  
  z-index: 3;

}
.eyelid{
  background-color: white;
  position:absolute;
  height: 15px;
  width: 20px;
  border-radius: 0 80px 0px 80px;  /*top left, top right, bottom left, bottom right clockwise*/
  bottom: -20px;
  left:49px;
  transform: rotate(90deg);
  animation: bunblink 2s infinite;
  z-index: 3;

}
.tear{
      background-color: cornflowerblue;
      border-radius: 0px 50% 50% 50%;

      position:absolute;
      bottom: 35px;
      left:49px;
      transform: rotate(45deg);

      height: 6px;
      width: 6px;
      transition:opacity 2s ease-in-out;
    } 
  
/*the animations!*/
@keyframes eyeshift {
  from {background-color: red;}
  to {background-color: black;}
}  
@keyframes bunblink {
  0%   {bottom:-15px;}
  25%  {bottom:-20px;}
  50%  {bottom:-15px;}
  75%  {bottom:-20px;}
  100% {bottom:-15px;}
} 
@keyframes twitch{
  0%  {transform: rotate(0deg);}
  25%  {transform: rotate(-5deg);}
  50%  {transform: rotate(-10deg);}
  75%  {transform: rotate(-15deg);}
  100%  { transform: rotate(00deg);}
}
@keyframes btwitch{
  0%  {transform: rotate(0deg);}
  25%  {transform: rotate(-7deg); }
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(-7deg);}
  100%  { transform: rotate(0deg);}
}
@keyframes headtilt{
  15% {
    transform: translateY(0px);
    transform: translatex(-5px);
    transform: rotate(-5deg);
  }
  50% {
    transform: translateY(5px);
    transform: translatex(0px);
    transform: rotate(0deg);

}
  75% {
    transform: translateY(5px);
    transform: translatex(-5px);
    transform: rotate(5deg);
  }
  100% {
    transform: translateY(0px);
    transform: translatex(-5px);
    transform: rotate(0deg);

  }

}
@keyframes feetshift {
  0%  {transform: rotate(0deg);}
  25%  {transform: rotate(-2deg); }
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(-2deg);}
  100%  { transform: rotate(0deg);}

}
